[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
jupyter = "*"
jupyterlab = "*"
numpy = "*"
igraph = "*"
matplotlib = "*"
anytree = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.10"
